###################################################################################################
# database config
POSTGRES_DB=starboard
POSTGRES_USER=starboard
POSTGRES_PASSWORD=starboard

###################################################################################################
# build config
RUST_LOG=twilight-http-ratelimiting=debug,info
#DATABASE_URL=

###################################################################################################
# bot config
DEVELOPMENT=true

DISCORD_TOKEN=

SHARDS=1

#SB_DATABASE_URL=
SB_MAX_DB_CONNECTIONS=10

#OWNER_IDS=ID1,ID2
BOT_ID=
#MAIN_GUILD=
#ERROR_CHANNEL_ID=
#PATRON_ROLE=
#SUPPORTER_ROLE=

#PATREON_TOKEN=
