###################################################################################################
# database config
POSTGRES_DB=starboard
POSTGRES_USER=starboard
POSTGRES_PASSWORD=starboard

###################################################################################################
# bot config
RUST_LOG=twilight_http_ratelimiting=debug,info
DEVELOPMENT=true

DISCORD_TOKEN=

SHARDS=1

SB_DATABASE_URL=postgres://starboard:starboard@127.0.0.1:5432/starboard
SB_MAX_DB_CONNECTIONS=10

#OWNER_IDS=ID1,ID2
BOT_ID=
#MAIN_GUILD=
#ERROR_CHANNEL_ID=
#PATRON_ROLE=
#SUPPORTER_ROLE=

#PATREON_TOKEN=

###################################################################################################
# build config
#DATABASE_URL=${SB_DATABASE_URL}
